[ios1]
        address=1.2.3.4
        user=someuser
        pass=somepass
        enablepass=enable
        type=cisco

[asr1]
        address=3.4.5.6
        user=someuser
        pass=somepass
        type=iosxr
